@nav-height: 66px;
@definition-margin-bottom: 15px;

body.hero {
    //background-color: rgba(0, 0, 0, 0);
    background-image: url(/Images/macbook-air-all-faded-and-stuff_dark.jpg);
    background-attachment: fixed;
    background-position: center @nav-height;
    background-repeat: no-repeat;
}

main {
    margin-top: @nav-height;
}

dd {
    margin-bottom: @definition-margin-bottom;
}

/*.hero {
    background-image: url(/Images/macbook-air-all-faded-and-stuff_dark.jpg);
    background-attachment: fixed;
    background-position: center @nav-height;
    background-repeat: no-repeat;
    height: 675px;
}*/

.jumbotron {
    //text-align: center;
}

td.code .container {
    &:before, &:after {
        content: "";
    }
}

.ui-accordion-content a {
    color: #428bca;
}

/*      Lesson 1
-------------------------------- */
#fatSpiderMan {
    display: none;
}

/*      Lesson 4
-------------------------------- */
#colorDemo {
    background-color: lightslategray;
    padding: 1px 10px;

    > h1 {
        color: #FFFAFA;
        background-color: #BA55D3;
    }

    > p {
        background-color: teal;
        color: #FFFAFA;
    }
}

#opacityDemo {
    background-color: lightblue;

    > p {
        background-color: pink;

        &.opaque { opacity: 1; }
        &.opacity75 { opacity: 0.75; }
        &.opacity50 { opacity: 0.75; }
        &.opacity25 { opacity: 0.25; }
        &.transparent { opacity: 0; }
    }
}

#rgbaDemo {
    background-color: lightblue;

    > p {
        &.opaque { background-color: rgba(255, 192, 203, 1); }
        &.opacity75 { background-color: rgba(255, 192, 203, 0.75); }
        &.opacity50 { background-color: rgba(255, 192, 203, 0.50); }
        &.opacity25 { background-color: rgba(255, 192, 203, 0.25); }
        &.transparent { background-color: rgba(255, 192, 203, 0); }
    }
}