@{
    ViewBag.Title = "Web Development";
    ViewBag.BodyClass = "hero";
}

<div class="jumbotron">
    <h1>Anyone can learn how to make a webpage.</h1>

    <p>Go to @Html.ActionLink("Lesson 1", "Index", "Lessons", new { id = 1 }, null) to get started.</p>
</div>