@{
    ViewBag.Title = "Resources";
}

<h1>Resources</h1>

<p>
    This page contains a collection of resources that can help you as you find your way to web development enlightenment.
    Check back frequently, because I'll add new resources from time to time. If you find something that you think should
    be added to this page, <a href="mailto:matt.banz@gmail.com">drop me a line</a>.
</p>

<dl>
    <dt>
        <img src="~/Images/html&css.jpg" width="100" />
        <a href="http://www.htmlandcssbook.com/">HTML&CSS<small> design and build websites</small></a>
    </dt>
    <dd>
        This is the recommended book for this course. The material posted on this website corresponds highly with the
        material covered in that book. Unlike most programming books, it's gorgeous to look at and easy to understand.
    </dd>

    <dt>
        <a href="http://www.w3.org/TR/html5/">W3C HTML5 Recommendation</a>
    </dt>
    <dd>
        The W3C is the organization that defines Web standards. This is the link to the official HTML5 specifications.
        Feel free to read it if you are having trouble sleeping!
    </dd>

    <dt>
        <a href="https://developer.mozilla.org/en-US/"><abbr>MDN</abbr>: Mozilla Developer Network</a>
    </dt>
    <dd>
        Mozilla is the company behind the Firefox browser. MDN is their public website that covers HTML5, CSS3,
        as well as many other modern web development techniques and tools. It is a great source to lookup code examples.
    </dd>

    <dt>
        <a href="http://caniuse.com/">caniuse.com</a> (Can I use?)
    </dt>
    <dd>
        caniuse.com is indispensible as an HTML5 developer. Since this is brand new technology we are using, not all
        browsers support every feature yet. Can I use keeps track of which browsers support which features.
    </dd>

    <dt>
        <a href="http://bootstrapbay.com/blog/free-stock-photos/">12 Amazing Sites With Breathtaking Free Stock Photos</a>
    </dt>
    <dd>
        This website contains links to 12 other sites that have free images! That is, the images are free to use for personal or
        <strong>commercial</strong> use.
    </dd>
</dl>