
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Min Max Demo</title>
    <style>
        #exactWidth {
            width: 1000px;
            background-color: #FF7F50;
        }

        #minMaxWidth {
            min-width: 200px;
            max-width: 1000px;
            background-color: #FF7F50;
        }

        p {
            padding: 20px 0;
        }
    </style>
</head>
<body>
    <div id="exactWidth">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eget ullamcorper odio. Integer interdum lectus mi, sagittis facilisis tortor facilisis quis.
    </div>

    <div id="minMaxWidth">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eget ullamcorper odio. Integer interdum lectus mi, sagittis facilisis tortor facilisis quis.
    </div>
</body>
</html>
